body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
}

.part-one {
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: roboto;
    display: flex;
    flex-direction: column;
    height: 550px;
    
}

.header {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:15px 0 75px 0;
}

.hero {
    /*height: 250px;*/
    margin: 60px 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}
 
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    min-width: 350px;
    max-width: 400px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    flex: auto;
}

.main-subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}

.top {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 17px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 45px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;   
}

.big-image {
    height: 250px;
    max-width: 500px;
    min-width: 25%;
    border: 1px solid whitesmoke;
    background-color: rgba(57, 80, 87, 0.979);
    flex: auto;
}

.part-two {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 25PX 25px 80PX;
}

.subtitle {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.images {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.image {
    display: flex;
    width: 150px;
    flex-direction: column;
    gap: 30px;
}

.under-text {
    text-align: center;
    color: #424852;
}

.placeholder {
    min-height: 150px;
    /*min-width: 250px;*/
    border: 3px solid #3882F6;
    border-radius: 15px;
}

.part-three {
    background-color: #e5e7eb;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    width: 1050px;
    display: flex;
    flex-direction: column;
    align-items: self-end;
    gap: 25px;
}

.quote {
    display: flex;
    align-self: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    height: 125px;
    width: 875px;
    text-align: left;
}

.thor {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}